#navBar {
  max-width: 1920;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-links {
  display: flex;
}

.iconInicio img {
  width: 100px;
  height: 100px;
}

#main {
  display: flex;
  max-width: 1920px;
  height: auto;
  flex-direction: column;
  padding-bottom: 20px;
}

body {
  padding-bottom: 100px; /* Espacio para el footer */
}

/* Estilos FOOTER */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 50px;
  margin-top: auto;
}
#footer ul {
  padding-left: 0px;
}

.footerDir a {
  color: black;
}
.footerDir a:hover a {
  color: grey;
}

.footerLegal {
  color: black;
}
.footerLegal ul {
  display: flex;
  flex-direction: column;
}
.footerLegal ul li:nth-child(3) {
  color: rgb(74, 1, 178);
}
.footerLegal ul li:nth-child(3):hover {
  color: rgb(193, 68, 193);
}
.footerLegal ul li:hover {
  color: gray;
}

.footerActivities {
  color: black;
}
.footerActivities ul {
  display: flex;
  flex-direction: column;
}
.footerActivities li:hover {
  color: gray;
}

.footerSocial {
  font-size: 30px;
}
.footerSocial a {
  color: black;
}
.footerSocial .fa-brands:hover {
  color: grey;
}

/*INDEX SASS--------------------------------------------------*/
#mainIndex {
  display: flex;
  flex-direction: column;
}

.mainbannerM img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
}

.mainImocTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 100px;
}

.mainSearch {
  display: flex;
  padding: 300px 50px 120px 50px;
}

.info-index {
  display: flex;
  padding: 100px 20px;
}
.info-index div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.info-index img {
  width: 100%;
  height: 100%;
}

/* Contact Us */
.actCityLink {
  display: flex;
  padding: 100px 20px;
}
.actCityLink div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

/*Join Activity------------------------------------------------------------------------------------------*/
.card {
  margin: 20px 5px 20px 5px;
  padding: 30px 10px 30px 10px;
}

.col-sm-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  align-self: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* PUBLISH ACTIVITY---------------------------------------*/
.infoNeed {
  text-align: center;
}

.pubAct1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.actImage1 img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.formAct1 {
  width: 100%;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.formPubAct1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.formPubAct1.submit:hover {
  width: auto;
  color: white;
  background-color: black;
}

ul, li {
  display: inline-block;
  align-items: center;
}

/*Page Search your Activity---------------------------------------*/
#actPublished {
  padding-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*diferencia con content-box?*/
  font-style: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

img {
  width: 30px;
  height: 30px;
}

/*Media va siempre al final 
Respetar de menor a mayor las medidas o al reves*/
@media screen and (max-width: 480px) {
  #actPublished {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "act1" "act2" "act3" "act4" "act5" "act6";
    column-gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .actCityLink {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
  }
  .info-index {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
  }
  .pubAct1 {
    flex-direction: column;
  }
  #footer {
    flex-direction: column;
    text-align: center;
  }
  #footer div {
    margin-top: 10px;
  }
}
.bannerM img {
  width: 100%;
  height: 150px;
}

.imocTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=IMOC_style.css.map */
