


//ESTILOS HTML
@import "formats/body-main";
@import "formats/footer";

//PAGE INDEX 
@import "index/index.scss";

//PAGE CONTACT US
@import "contact/contact";

//PAGE JOIN ONE
@import "join/join.scss";

//PAGE PUBLISH 
@import "publish/publish.scss";

//PAGE SEARCH 
@import "search/search.scss";

//ESTILOS RESET Y QUERIES
@import "formats/reset";
@import "formats/breakpoints";


.bannerM {
    img {
    width: 100%;
    height: 150px;
    }
    
}


.imocTitle {
    display: flex;
    flex-direction: column;
    position:absolute;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 30px;
    
}



