/*Join Activity------------------------------------------------------------------------------------------*/

.card {
    margin: 20px 5px 20px 5px;
    padding: 30px 10px 30px 10px;
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    align-self: center;
}

.pagination {
    display: flex ;
    justify-content: center;
}


