/*Join Activity------------------------------------------------------------------------------------------*/

.card {
    margin: 20px 10px 20px 10px;
    padding: 30px 20px 30px 20px;
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    align-self: center;
}

.pagination {
    display: flex ;
    justify-content: center;
}


.card-join {
    /* Transiciones al pasar el mouse sobre la tarjeta */
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.act-join {
    margin: 50px;
}