
    
/* Estilos para pantallas pequeñas (480px o menos) */





@media screen and (max-width: 480px) {
    
    .actCityLink {
        display: flex;
        flex-direction: column;
        padding: 100px 20px;
    }

    .info-index {
        display: flex;
        flex-direction: column;
        padding: 100px 20px;
    }

    .pubAct1 {
        flex-direction: column;
    }
    
    

    #footer {
        flex-direction: column;
        text-align: center;
       
        div {
        margin-top: 10px;
        }
    }

}    