/*Page Search your Activity---------------------------------------*/
#actPublished {
 padding-bottom: 20px;
}

.card-img-container {
    height: 200px; /* Altura fija para las imágenes */
    overflow: hidden; /* Oculta el desbordamiento */
}

.card-img-top {
    width: 100%; /* Ajusta el ancho al contenedor */
    height: 100%; /* Ajusta la altura al contenedor */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
}
